.article {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between center;
    align-items: flex-start;
    align-content: space-between;
    background-color: blanchedalmond;
    border: 2px burlywood;
}
.background {
    background-size: cover;
    
}
.aside {
    width: 30%;
    padding-left: 20px;
    background-color: blanchedalmond;
    font-size: medium;
    border: 2px dashed peachpuff;
    align-content: left;
}
.h2 {
    align-content: center;
    font-size: x-large;
    background-color: peru;
    font: Comic sans MS;

}
@media only screen and (min-width: 800px) {
   .background {
       background-image: cover;
   }
    .aside{
        align-content: left;
    }
    .article {
        align-content: center;
    }
}

    

